<!DOCTYPE html>
<html ng-app='sender'>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js" charset="utf-8"></script>
    <script src='script.js'></script>
  </head>
  <body ng-controller='sendController'>

    <form novalidate class='simple-form'>
      <label>
        Email: <input type="email" ng-model='userEmail' />
      </label>
      <input type="button" ng-click='sendMail()' value='Submit'>
    </form>

  </body>
</html>
